{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create a Completion{% endblock %}</h1>
    <br>
    <a href="{{ url_for('model.view_all') }}">See all available models</a>
{% endblock %}

{% block content %}
    <form method="post">
        
        <label for="model_id">Enter the ID of the model you choose</label>
        <input id="model_id" name="model_id" required value="{{ request.form['model_id'] }}">
        <label for="prompt">Enter your prompt</label>
        <textarea name="prompt" id="prompt" required>{{ request.form["prompt"] }}</textarea>
        <label for="save">Complete</label>
        <input type="submit" value="save" id="save">
    </form>
{% endblock %}