{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create a Completion{% endblock %}</h1>
    <br>
    <a href="{{ url_for('model.view_all') }}">See all available models</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="model_id">Enter the ID of the model you choose, positive integer or zero</label>
        <input id="model_id" name="model_id" required value="{{ request.form['model_id'] }}">
        <label for="prompt">Enter your prompt</label>
        <label for="num_sets">Enter the number of sets you want, positive integer</label>
        <input id="num_sets" name="num_sets" required value="{{ request.form['num_sets'] }}" value=1>
        <label for="top_k">Enter top k for nucleus sampeling, positive integer</label>
        <input id="top_k" name="top_k" required value="{{ request.form['top_k'] }}" value=1>
        <label for="top_p">Enter top p for nucleus sampeling, 1>=float>0</label>
        <input id="top_p" name="top_p" required value="{{ request.form['top_p'] }}" value=0.0>
        <textarea name="prompt" id="prompt" required>{{ request.form["prompt"] }}</textarea>
        <label for="save">Complete</label>
        <input type="submit" value="save" id="save">
    </form>
{% endblock %}