{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Completions{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('completion.create') }}">Try It yourself!</a>
  {% endif %}
{% endblock %}

{% block content %}
    {% for completion in completions %}
        <article class="completion">
            <div class="about">by {{ completion['username'] }} on {{ completion['created'].strftime('%Y/%m/%d %H:%M:%S') }}</div>
            <div class="prompt">{{ completion['prompt'] }}</div>
            <div class="answer">{{ completion['answer'] }}</div>
        </article>
        {% if not loop.last %}
            <!-- add a horizontal line -->
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}