torch>1.12.1
transformers~=4.26.1
pytest~=7.2.1
coverage~=7.1.0
build~=0.10.0
twine~=4.0.2
hatchling
toml~=0.10.2
keras~=2.11.0
numpy~=1.24.2
requests~=2.28.2
beautifulsoup4~=4.11.2
Flask~=2.2.2
Werkzeug~=2.2.2
pandas~=1.5.3
dataclasses~=0.6
setuptools~=65.6.3
accelerate
safetensors
urllib3
pathos
sentencepiece
bitsandbytes
pip
pytest-xdist
cache-to-disk