torch
transformers
numpy
requests
pandas
sentencepiece
bitsandbytes
tqdm
datasets
matplotlib
evaluate
accelerate
scipy
comet-ml
pytest
setuptools
fire
build
toml
twine
packaging
huggingface-hub
comet_ml
seaborn
ipython