<!doctype html>
<title>{% block title %}{% endblock %} - My Final Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>My Final Project</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
        <br>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        <br>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <br>
      <a href="{{ url_for('auth.login') }}">Log in</a>
      <br>

    {% endif %}
    <a href="{{ url_for('completion.index') }}">See all past completion</a>
    <br>
    <a href="{{ url_for('model.view_all') }}">See all available models</a>
    <br>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% block content %}{% endblock %}
</section>
<div class="footer">
    For any issues, please contact me at yoni.kremer@gmail.com
    <br>
    <a href="https://github.com/yonikremer/final_project">Visit the project repository on GitHub</a>
</div>